.scoreboard {
	font: normal 14px/40px Arial, sans-serif;
	line-height: 4em;
	height: 4em; /*40px*/
	width: 75%; /*380px*/
	background: #FFF100;
	text-align: center;
	margin: auto;
	color: #fff;
	font-weight: bold;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	position: absolute;
	left: 12.5%;
	border: 0.25em solid black;
}

	.scoreboard > .teams {
		/*color: #323031;*/
		color: black;
		font-weight: bold;
		float: left;
		width: 100%;
	}
	
		.scoreboard > .teams > span {
			float: left;
			width: 33.333%;
		}
	
	.scoreFeed {
		z-index: 3;
		height: 8em;
		line-height: 8em; 
		background: #FFF100;
		margin: auto;
		border-radius:100%;
		border-bottom: 0.4em solid black;
	}

	.time {
		z-index: 2;
		line-height: 12em;
		height: 8em;
		float: left;
		width: 70%;
		background: #222;/* #323031;*/
		margin-left: 15%;
		color: #fff;
		text-align: center;
		margin-top: 4em;
		border-bottom-right-radius: 2em;
		border-bottom-left-radius: 2em;
		border-bottom: 0.2em solid white;

	}
	#clock {
		width: 33.333%;
		position: absolute;
		border: 0.1em solid blue;
	}
	.player {
		height: 2em;
		width: auto;
		border: 0.1em solid white;
		position: relative;
		white-space: nowrap;
		line-height: 2em !important;
		/*margin: auto;*/
	}
	#playerA {
		float: left;
	}
	#playerB {
		float: right;
		/*right:0;*/
	}
	.playerScoreA {
		/*height: 75%;*/
		z-index: -1;
		position: relative;
		margin-top:-12em;
		height: 30em;
		width: 35.25%;
		left: 14.9%;
		background: black;
		float: left;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
		border: 0.2em solid white;
	}
	.playerScoreB {
		/*height: 75%;*/
		z-index: -1;
		position: relative;
		margin-top:-12em;
		height: 30em;
		width: 35.25%;
		right:14.9%;
		background: black;
		float: right;
		border-top-right-radius: 2em;
		border-bottom-right-radius: 2em;
		border: 0.2em solid white;
	}
.scoreboard-message {
	font: normal 14px Arial, sans-serif;
	background: #e64f61;
	background: rgba(230, 79, 97, 0.9);
	color: #fff;
	position: absolute;
	width: 40%;
}

	.scoreboard-message > div {
		padding: 20px;
	}

	.scoreboard-message > .bookingMessage > .yellow::after,
	.scoreboard-message > .bookingMessage > .red::after {
		content: "";
		background: #e6e14f;
		height: 100px;
		width: 62px;
		border-radius: 3px;
		right: -40px;
		top: -56px;
		position: absolute;
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		transform: rotate(11deg);
	}
	
	.scoreboard-message > .bookingMessage > .red::after {
		background: #c83c3c;
	}
	
	.scoreboard-message > .substituteMessage > .players:before,
	.scoreboard-message > .substituteMessage > .players:after {
		content: " ";
		display: table;
	}
	
	.scoreboard-message > .substituteMessage > .players:after {
		clear: both;
	}
	
		.scoreboard-message > .substituteMessage > .players > .player {
			width: 50%;
			float: left;
			position: relative;
		}
		
		.scoreboard-message > .substituteMessage > .players > .player::after {
			content: "\2190";
			position: absolute;
			top: 50%;
			right: -2px;
			font-size: 20px;
			line-height: 30px;
			text-align: center;
			color: #A0C83C;
			background: #fff;
			width: 30px;
			height: 30px;
			border-radius: 15px;
			margin-top: -15px;
		}
		
		.scoreboard-message > .substituteMessage > .players > .player.out::after {
			right: auto;
			left: -2px;
			content: "\2192";
			color: #c83c3c;
		}

	.scoreboard-message h1 {
		background: #323031;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin: -20px -20px 20px;
		font-size: 12px;
	}
	
	.scoreboard-message .player {
		text-align: center;
		font-size: 16px;
		position: relative;
	}

	.scoreboard-message .score {
		overflow: hidden;
		position: relative;
	}
	
		.scoreboard-message .logo {
			position: absolute;
			left: 0;
			top: 50%;
			height: 100px;
			width: 100px;
			margin-left: -50px;
			margin-top: -50px;
			text-align: center;
		}
		
		.scoreboard-message > div > .logo + .logo {
			left: auto;
			right: 0;
			margin-left: 0;
			margin-right: -50px;
		}
		
			.scoreboard-message > div > .logo > img {
				max-height: 100%;
				max-width: 100%;
			}
	
		.scoreboard-message > .statusMessage > .score > span {
			float: left;
			width: 33.333%;
			text-align: center;
		}
	
	.scoreboard-message footer {
		background: #323031;
		height: 20px;
		line-height: 20px;
		margin: 20px -20px -20px;
		text-align: center;
		font-size: 12px;
	}